<div class="body">
    <div class="content-page">
        <div class="title-nav-page">
            <p class="title-page">
                Sửa sản phẩm
            </p>
            <ol class="nav-page">
                <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Sửa sản phẩm</li>
            </ol>
        </div>
    </div>
    <div class="body-admin">
        <form method="POST" action="/admin/{{product._id}}?_method=PUT">
            <div class="form-group">
                <label for="name" class="label-name">Tên sản phẩm</label>
                <input type="text" class="form-control" value="{{product.name}}" id="name" name="name" required>
            </div>
            <fieldset class="form-group">
                <div class="row">
                    <legend class="col-form-label col-sm-2 pt-0">Loại sản phẩm:</legend>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="product_type" id="gridRadios1"
                                value="rau củ">
                            <label class="form-check-label" for="gridRadios1">
                                Rau củ
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="product_type" id="gridRadios2"
                                value="sinh tố">
                            <label class="form-check-label" for="gridRadios2">
                                Sinh tố
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="product_type" id="gridRadios3"
                                value="thực phẩm tươi sống">
                            <label class="form-check-label" for="gridRadios3">
                                Thực phẩm tươi sống
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="product_type" id="gridRadios4"
                                value="hoa quả">
                            <label class="form-check-label" for="gridRadios4">
                                Hoa quả
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="product_type" id="gridRadios5"
                                value="các loại hạt">
                            <label class="form-check-label" for="gridRadios5">
                                Các loại hạt
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="product_type" id="gridRadios6"
                                value="gia vị">
                            <label class="form-check-label" for="gridRadios6">
                                Gia vị
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="product_type" id="gridRadios7"
                                value="ngũ cốc">
                            <label class="form-check-label" for="gridRadios7">
                                Ngũ cốc
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="product_type" id="gridRadios8"
                                value="siêu thực phẩm">
                            <label class="form-check-label" for="gridRadios8">
                                Siêu thực phẩm
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="form-group">
                <label for="description">Mô tả</label>
                <textarea class="form-control form-description" id="description" name="description" required>{{product.description}}</textarea>
            </div>
            <div class="form-group">
                <label for="price">Giá(VNĐ)</label>
                <input type="number" class="form-control" value="{{product.price}}" id="price" name="price" required>
            </div>
            <div class="form-group">
                <label for="thuong_hieu">Thương hiệu</label>
                <input type="text" class="form-control" id="thuong_hieu" name="thuong_hieu"
                    value="{{product.thuong_hieu}}" required>
            </div>
            <fieldset class="form-group">
                <div class="row">
                    <legend class="col-form-label col-sm-2 pt-0">Tình trạng</legend>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="tinh_trang" id="gridRadios-1"
                                value="Còn hàng">
                            <label class="form-check-label" for="gridRadios-1">
                                Còn hàng
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="tinh_trang" id="gridRadios-2"
                                value="Hết hàng">
                            <label class="form-check-label" for="gridRadios-2">
                                Hết hàng
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <label>Hình ảnh sản phẩm</label>
            <div class="form-group">
                <img class="card-img-top img-prod" src="/{{product.img.[3]}}" alt="{{product.name}}">
                <img class="card-img-top img-prod" src="/{{product.img.[2]}}" alt="{{product.name}}">
                <img class="card-img-top img-prod" src="/{{product.img.[1]}}" alt="{{product.name}}">
                <img class="card-img-top img-prod" src="/{{product.img.[0]}}" alt="{{product.name}}">
            </div>

            <button type="submit" class="btn btn-click btn-cart btn-add">Lưu</button>
        </form>
    </div>
</div>